*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.desktop{
    display: none;
}
@media (min-width: 750px){
    .desktop{
        display: initial;
    }
}
header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 20px;
    position: fixed;
    z-index: 5;
    width: 100%;
}
header .home-logo{
    color:  ghostwhite;
    font-size: 45px;
    cursor: pointer;
}
header a{
    color: ghostwhite;
}
header nav a{
    text-decoration: none;
    padding: 5px 10px;
}
header nav.center-links{
    text-align: center;
    font-size: 30px;
    padding-left: 13vh;
}

header .number-nav-right{
    color: ghostwhite;
    font-size: 22px;
    text-decoration: none;
}

section{
    height: 110vh;
    background-size: cover;
    background-position: center center;
}
section .content{
    color: ghostwhite;
    text-align: left;
    width: 100%;
    height: 110vh;
    padding-top: 35vh;
    padding-bottom: 40vh;
    padding-left: 15vh;
}
section h2{
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
}
section h1{
    font-size: 55px;
    font-weight: 300;
}
section h3{
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
}
.content .dynamic-text{
    margin-left: 15px;
    /* overflow: hidden; */
}
.dynamic-text{
    color: ghostwhite;
    list-style: none;
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
}
.dynamic-text li span{
    position: relative;
}
.dynamic-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    border-left: 2px solid ghostwhite;
    animation: typing 1.7s steps(26) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
 section .about-content{
    color: ghostwhite;
    text-align: center;
    width: 100%;
    height: 110vh;
}
section .about-info{
    color: ghostwhite;
    float: left;
    width: 100%;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 10vh;
    font-style: italic;
    font-size: 25px;
}
 section .about-title{
    color: ghostwhite;
    text-align: center;
    font-style: italic;
    padding-top: 10vh;
} 
section .skills-content{
    color: ghostwhite;
    text-align: center;
    width: 100%;
    height: 100vh;
}
section .skills-title{
    color: ghostwhite;
    text-align: center;
    font-style: italic;
    padding-top: 10vh;
}
section .column-title{
    color: ghostwhite;
    text-align: center;
    padding-top: 10vh;
    font-style: italic;
    font-size: 40px;
}
section .column-info{
    color: ghostwhite;
    padding-top: 5vh;
    padding-right: 5vh;
    text-align: center;
    font-size: 25px;
    font-style: italic;
}
ul{
    list-style-type: none;
}
section .project-content{
    color: ghostwhite;
    text-align: center;
    width: 100%;
    height: 110vh;
}
section .project-title{
    color: ghostwhite;
    text-align: center;
    font-style: italic;
    padding-top: 10vh;
}
section .carousel-slide{
    padding-top: 15vh;
}
section .contact-content{
    color: ghostwhite;
    text-align: center;
    width: 100%;
    height: 110vh;
    padding-left: 10vh;
    padding-right: 10vh;
}
section .contact-title{
    color: ghostwhite;
    text-align: center;
    font-style: italic;
    padding-top: 10vh;
}
  .github-icon{
    font-size: 40px;
    color: ghostwhite;
  }
  .linked-in{
    font-size: 40px;
    color: ghostwhite;
  }
  .resume{
    color: ghostwhite;
    width: 250px;
    height: 50px;
    font-style: italic;
    background-image: url('images/download.jpg');
    background-size: cover;
    background-position: center center;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
  }
  .resume:hover{
    opacity: .7;
  }
  .resume-btn{
    text-align: center;
    padding-top: 15vh;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
.contact-icon{
    color: ghostwhite;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    font-size: 20px;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    color: ghostwhite;
    width: 250px;
    height: 50px;
    font-style: italic;
    background-image: url('images/download.jpg');
    background-size: cover;
    align-content: center;
    background-position: center center;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    opacity: .7;
  }
  .form-body{
    padding-top: 5vh;
  }
 .carousel-inner{
    padding-top: 5vh;
    padding-right: 10vh;
    padding-left: 10vh;
}
  .carousel-item{
    height: 50rem;
    background-position: center;
    background-color: black;
    background-size: cover;
    color: ghostwhite;
    position: relative;
  }
  .container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
  }
  .overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: .5;

  }
  